.form-control {
  -webkit-box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}

.active {
  text-decoration: underline !important;
  color: rgba(15, 15, 116, 0.347);
  text-decoration-thickness: 5px !important;
}

.card-button {
  border-radius: 0px;
}
.bgcolor {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.hoverable:hover {
  border-right: 5px solid #0d6efd;
  border-bottom: 5px solid #0d6efd;
  border-radius: 12px;
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}
